Specify that percent-encoded domain names are unsupported

If I go to `%78.com` in the browser, that takes me to `x.com`.  Indeed in [RFC9110 §3.2.2](https://www.rfc-editor.org/rfc/rfc3986#section-3.2.2), percent-encoding is allowed in HTTPS authorities:
```
      reg-name    = *( unreserved / pct-encoded / sub-delims )
```

But, let's just save ourselves the trouble and forbid percent-encoding in domain names.  FWIW, wasmtime fails if the host part of an authority has a %.