What is a "HTTP Related Scheme" ?

The spec says:
```
    /// Get the HTTP Related Scheme for the Request. When `none`, the
    /// implementation may choose an appropriate default scheme.
    get-scheme: func() -> option<scheme>;
    /// Set the HTTP Related Scheme for the Request. When `none`, the
    /// implementation may choose an appropriate default scheme. Fails if the
    /// string given is not a syntactically valid uri scheme.
    set-scheme: func(scheme: option<scheme>) -> result;
```

Searching for "HTTP Related Scheme" on the web just comes up with this repo.  Should it be changed to "URI Scheme" and link to [RFC 3986 §3.1](https://www.rfc-editor.org/rfc/rfc3986#section-3.1) ?