[v0.3] Specify what is meant by "not syntactically valid"

A number of the interfaces that turn strings into typed values, e.g. `fields.from-list`, `fields.set`, `request.set-method`, and so on can return a failure result if the value being set is not "syntactically valid".  However, the specification does not define what this means.  Suggest adding wording such as, "Syntactically valid methods are defined in RFC 9110§9.1".

Also, is it an error if a WASI HTTP implementation does not impose syntactic constraints on header/method/etc values?